@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Alef:400,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

body {
	font-family: 'Poppins', sans-serif;
}

.banner {
	background: darkseagreen;
}

.categoryBoard {
	//padding: 20px;
	background: cadetblue;
}

.categoryParent {
	display: table;
	//padding: 0;
	//margin: 10px;
}

.category {
	display: table;
	
	box-sizing: border-box;
	
	padding: 7px;
	
	//margin: 10px;
	
	
	//background: palevioletred;
	height: 100px;
	
	font-size: 15px;
	
	
	
	> div {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		
		box-sizing: border-box;
		
		color: white;
		
		padding: 5px;
		
		//background: coral;
		border-radius: 5px;
	}
}