<h1>Command Center</h1>

<h3>Get one asset</h3>
<input ng-model="assetID">
<button ng-click="getAsset()">Get Asset</button>
<div class="well">
	{{asset.data}}
</div>
<h3>Get all Assets</h3>
<button ng-click="getAssets()">Get ALL Assets</button>
<div class="well" ng-repeat="asset in assets.data">
	<div>Title: {{asset.title}}</div>
	<div>
		Author(s):
		<span ng-repeat="author in asset.author">{{author}} </span>
	</div>
	<div>Source: <a ng-href="{{asset.source}}">{{asset.source}}</a></div>
	<div>
		<span ng-repeat="label in asset.category">
			<span class="label label-primary" >{{label}}</span>
		</span>
	</div>
</div>