<h1>This is the entry page</h1>

<form>
	<div class="form-group">
		<div class="row">
			<div class="btn-group col-xs-12">
				<label ng-model="asset.media" uib-btn-radio="'video'"
				       class="btn btn-default col-xs-6">Video</label>
				<label ng-model="asset.media" uib-btn-radio="'book'"
				       class="btn btn-default col-xs-6">Book</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="btn-group col-xs-12">
				<label class="btn btn-default col-xs-6"
				       ng-model="$ctrl.asset.type"
				       uib-btn-radio="'tutorial'">Tutorial</label>
				<label class="btn btn-default col-xs-6"
				       ng-model="$ctrl.asset.type"
				       uib-btn-radio="'talk'">Talk</label>
				<label class="btn btn-default col-xs-6"
				       ng-model="$ctrl.asset.type"
				       uib-btn-radio="'tonference'">Conference</label>
				<label class="btn btn-default col-xs-6"
				       ng-model="$ctrl.asset.type"
				       uib-btn-radio="'pairprogramming'">Pair Programming</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="title">Title</label>
		<input id="title" ng-model="asset.title"
		       type="text" class="form-control">
		
		<label for="author">Author</label>
		<input id="author" ng-model="asset.author"
		       type="text" class="form-control">
		
		<label for="source">Source</label>
		<input id="source" ng-model="asset.source"
		       type="text" class="form-control">
		
		<label for="category">Category</label>
		<input id="category" ng-model="asset.category"
		       type="text" class="form-control">
	</div>
	<div class="form-group">
		<button ng-click="submitAsset()" type="submit" class="btn btn-primary">Submit</button>
	</div>
	
	<pre>
			{{asset | PrettyJSON}}
	</pre>
	
</form>